@keyframes rainbow {
  0% {
    background-color: red;
  }
  20% {
    background-color: orange;
  }
  40% {
    background-color: yellow;
  }
  60% {
    background-color: green;
  }
  80% {
    background-color: Blue;
  }
  100% {
    background-color: purple;
  }
}
html {
  background-color: red;
  animation-name: rainbow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.animation {
  width: 400px;
  height: 400px;
  background-color: red;
  animation-name: rainbow;
  animation-duration: 2s;
}
